html, body {
    margin: 0; 
    padding: 0; 
    height: 100%;
}

.navbar {
    display: flex;
    height: 70px;
    justify-content: space-evenly;
    background-color: #ffedd5;
    align-items: center;
    box-shadow: 0px -3px 19px -4px rgba(0,0,0,0.74);
    -webkit-box-shadow: 0px -3px 19px -4px rgba(0,0,0,0.74);
    -moz-box-shadow: 0px -3px 19px -4px rgba(0,0,0,0.74);
    position: relative;
    z-index: 10;
}

.navbar-left {
    display: flex;
    align-items: center;
}

#chat-link {
    display: flex;
    align-items: center;
    text-decoration: none;

}

.navbar-left:hover {
    cursor: pointer;
}

#JaanKaari{
    text-decoration: none;
    padding-left: 7px;
    font-weight: 600;
    color: #9a3412;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}

.navbar-middle {
    display: inline-block;
    justify-content: space-evenly;
    
}

.navbar-middle a {
    text-decoration: none;
    color: #a54927;
    margin-right: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.navbar-middle a:hover {
    text-decoration:underline;
}

.navbar-right button {
    border: none;
    padding: 10px 20px 10px 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    background-color: #f97316;
}

.navbar-right button:hover {
    cursor: pointer;
    background-color: #ea580c;
}

.chatbot-container {
    padding-top: 50px;  
    padding-left: 400px;
    padding-right: 400px;
}

.chatbot {
    border-radius: 15px;
    background-image: linear-gradient(#fed7aa 32%, transparent 0%);
    box-shadow: -1px -1px 17px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px -1px 17px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px -1px 17px -7px rgba(0,0,0,0.75);
}

.chatbot-topbar {
    font-family: 'Poppins', sans-serif;
    padding-left: 20px;
}

.chatbot-topbar h1 {
    padding-top: 12px;
    margin-bottom: -16px;
}







.chatbot-textbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.form-container {
    flex-grow: 1;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.form-container input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 8px 12px;
}

.chatbot-textbox button {
    margin-right: 18px;
    margin-bottom: 10px;
    border-style: none;
    border-radius: 50px;
    padding-top: 2px;
    font-size: 30px;    
    background-color: #fed7aa;
    color:#f97316
}

.chatbot-textbox button:hover {
    background-color: #ffa260;
    color: #fed7aa;
}





.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fed7aa;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-left p {
    font-family: 'Poppins', sans-serif;
    color: #9a3412;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-right a {
    font-family: 'Poppins', sans-serif;
    color: #9a3412;
    margin: 10px;
    text-decoration: none;
}

.footer-right a:hover {
    text-decoration: underline;
}
.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fed7aa;
}

.footer-left p {
    font-family: 'Poppins', sans-serif;
    color: #9a3412;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-right a {
    font-family: 'Poppins', sans-serif;
    color: #9a3412;
    margin: 10px;
    text-decoration: none;
}

.footer-right a:hover {
    text-decoration: underline;
}

